<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EoM CS Club</title>
</head>
<body>
<div class="landing centeredtop fadein">
    Earl of March Computer Science Club
</div>
<div class="landing centeredmiddle fadein">
    Our website is still being built.
</div>
<div class="landing centeredbottom fadein">
    Come back later.
</div>
<div class="landing centeredlast fadein">
    <p>Hosted by Andrew Peng, Simon Zeng, and Eddy Yao</p>
</div>
</body>
</html>