<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EoM CS Club</title>
</head>
<body style="overflow: hidden">
<div class="landing centeredtop fadein">
    <img class="floating" src="/assets/logo.png">
</div>
<div class="landing centered-middle-left fadein">
<script>
    function wip(){
	    swal("Wait a sec!", "We're still setting up resources, so check back later!", "warning");
	}
</script>
	<a href="#" onclick="return false;"><img class="floating zoom img-responsive" src="/assets/resourcebutton.png" onclick=wip()></a>
</div>
<div class="landing centered-middle-right fadein">
	<a href="/onlinegrader"><img class="floating zoom img-responsize" src="/assets/competitivebutton.png"></a>
</div>
<div class="landing centeredlast fadein">
    <p>Hosted by Andrew Peng, Simon Zeng, and Eddy Yao</p>
</div>
</body>
</html>