<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EoM CS Club</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div class="centeredtop">
    Earl of March Computer Science Club
</div>
<div class="centeredmiddle">
    Our website is still being built.
</div>
<div class="centeredbottom">
    Come back later.
</div>
<div class="centeredlast">
    <p>Hosted by Andrew Peng, Simon Zeng, and Eddy Yao</p>
</div>
</body>
</html>