<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>About - CS Club Online Judge</title>	
	</head>
	
	<body>		
			<main>
				<div id="content">
					<div class="innertube fadein">
						<h1>About</h1>
						Welcome to Earl of March Secondary School's Computer Science Club Online Judge. 
						</br>
						This website is made and maintained by Andrew Peng, Simon Zeng, and Eddy Yao.<br>
						This website was cloned from Peter Zhu's original website and is open sourced under the GNU GPL V3 license.<br>
						You can find the original project in its <a href = "https://github.com/peterzhu2118/onlinejudge">GitHub</a> page.
						</br>
						
					</div>
				</div>
			</main>
	</body>
</html>
